html, body {
    font-family: 'Open Sans', Helvetica, sans-serif;;
    background-color: #1F1F1F;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', Helvetica, sans-serif;;
    background-color: #1F1F1F;
    color: #FFFFFF;
    letter-spacing: 0.8px;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
section .container {
    max-width: 940px;
}
h1 {
    font-weight: lighter;
    font-size: 3.3em;
    margin-bottom: 0;
}
hr {
    width: 8%;
    border: 1px solid #FFFFFF;
    margin-left: 0;
}
.icons {
    width: 1.1em;
}
p {
    font-weight: 400;
    font-size: 1em;
    line-height: 32px;
}
ul {
    padding-left: 0;
}
ul li {
    margin-top: 20px;
    display: inline-block;
    padding-right: 1.15em;
}
.tw, .gt, .li, .fb , .gm  {
    color: #dddddd;
}
ul .tw:hover {
    color: #1da1f2;
}
ul .gt:hover {
    color: #333;
}
ul .fb:hover {
    color: #3b5998;
}
ul .gm:hover {
    color: #dd4b39;
}
ul .li:hover {
    color: #0077b5;
}