/********* General Css **********/
html, body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', Helvetica, sans-serif;    
    letter-spacing: 0.8px;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    background: #25272A;
    -webkit-transition: background-color 150ms ease-out !important;
    transition: background-color 150ms ease-out !important;
    color: whitesmoke;
}

#container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#wrapper {
    width: 75vw;
}
h1 {
    font-weight: lighter;
    font-size: 3.3em;
    margin-bottom: 0;
}
hr {
    width: 8%;
    border: 1px solid #FFFFFF;
    border: 1px solid #ff8000;
    margin-left: 0;
}
.icons {
    width: 1.1em;
}
.icons-lg {
    width: 1.4em;
}
p {
    font-weight: 400;
    font-size: 1em;
    line-height: 32px;
}

/********* Social Media Fontawesome icons **********/
ul {
    padding-left: 0;
}
ul li {
    display: inline-block;
    padding-right: 1.15em;
}
.fb, .it, .cv, .gt, .li, .en {
    color: #BFBEC0;
}
.gt:hover{
    color: #333; 
}
.fb:hover{
    color: #3b5998;
}
.it:hover {
    color: #405de6;
    color: #e1306c;
}
.li:hover {
    color: #0077b5;
    color: #8d6cab;
}
.en:hover {
    color: #dd4b39;
    color: #34a853;
}
.cv:hover {
    color: #6a737b;
}

/********* Fixid top right btn **********/
#fixed {
    position: fixed;
    top: 3em;
    right: 3em;
    z-index:1;
    cursor:pointer;
}

/********* Day/Night - toggle **********/
/* Credits to - Joseph Shenton @TeamiHackify 
Please feel free to use this toggle if you like. But I request that you give credit to me thank you */
body.day-background {
    background: #EEEEEE;
    color: #25272A;
}
.button-con {
    cursor: default;
    top: 50%;
    left: 50%;
    margin-left: -76px;
    margin-top: -3px;
}
#dayIcon {
    position: relative;
    width: 1em;
    height: 1em;
    top: -3px;
    margin: 0 0.35em;
    fill: #9caec0;
}
#nightIcon {
    position: relative;
    width: 1em;
    height: 1em;
    top: -3px;
    margin: 0 0.35em;
    fill: #9caec0;
}
#dayIcon, #nightIcon {
    cursor: pointer;
}
.toggle {
    display: none;
}
.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
    background: none;
}
.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
    background: none;
}
.toggle + .toggle-button {
    outline: 0;
    display: inline-block;
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    border: 2px solid #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
}
.toggle + .toggle-button:after, .toggle + .toggle-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.toggle + .toggle-button:after {
    left: 0;
}
.toggle + .toggle-button:before {
    display: none;
}
.toggle:checked + .toggle-button:after {
    left: 50%;
}
.toggle + .toggle-button {
    padding: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 2px solid rgba(156, 174, 192, 0.27);
    border-radius: 2em;
}
.toggle + .toggle-button:after {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: rgba(156, 174, 192, 0.27);
    content: "";
    border-radius: 1em;
}
.toggle:checked + .toggle-button:after {
    left: 50%;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    #wrapper {
        width: 80vw;
    }
    body {
        font-size: 18px;
    }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
    #wrapper {
        width: 85vw;
    }
    body {
        font-size: 16px;
    }
    h1, p, ul {
        text-align: center;
    }
    p {
        font-weight: 400;
        font-size: 1em;
        line-height: 26px;
    }
    hr {
        width: 14%;
        border: 1px solid #ff8000;
        margin-left: auto;
    }
}