* {
  margin: 0;
  padding: 0;
}
:root {
  --Roboto : 'Roboto', 'Open Sans', Helvetica, sans-serif;
  --Fira : 'Fira Sans','Roboto', 'Open Sans', Helvetica, sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-size: 20px;
  box-sizing: border-box;
}
.desk {
  height: 350px;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }

}
/* Intro */

#intro {
  /* background-color: #F7F7F7; */
}
#intro .intro-wrapper {
  height: 100vh;
  margin: 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#intro h1 {
  font-family: var(--Fira);
  font-size: 4rem;
  color: #1c1c21;
}
#intro p {
  font-family: var(--Roboto);
}
#intro hr {
    margin-top: 10px;
    border: 1px solid #ffb302;
    max-width: 10vw;
    margin-left: 3px;
    width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  #intro .intro-wrapper {
    height: 70vh;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #intro h1 {
    text-align: center;
    font-family: var(--Fira);
    font-size: 2.6rem;
    color: #1c1c21;
  }
  #intro p {
    font-family: var(--Roboto);
    font-size: 1.5rem;
  }
  #intro hr {
      margin-top: 20px;
      border: 1px solid #ffb302;
      max-width: 10vw;
      margin-left: 3px;
      width: 100%;
  }
}
/* About */
#about {
  background-color: #F7F7F7;
}
#about .about-wrapper {
  margin: 0 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 85vw;
  height: 100vh;
  align-items: center;
}
#about .mob {
  display: none;
}
#about .abt-right {
    max-width: 40vw;
}
#about .abt-right h2 {
    font-family: var(--Fira);
    font-size: 2.5rem;
    color: #1c1c21;
    margin-bottom: 15px;
}
#about .abt-right p {
    font-family: var(--Roboto);
    font-size: 1.5rem;
    color: #1c1c21;
}
#about .abt-left img{
  box-shadow: 0 0 0 0 #fff031;
    transition: .2s;
}
#about .abt-left img:hover{
  box-shadow: 15px 15px 0 0 #fff031;
}
@media (min-width: 320px) and (max-width: 767px) {
  #about .about-wrapper {
    margin: 10%;

    padding: 15% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 85vw;
    height: 70vh;
    align-items: center;
  }
  #about .abt-right {
    margin-top: 10%;
      max-width: 60vw;
  }
  #about .desk {
    display: none;
  }
  #about .mob {
    display: block;
  }
  #about .abt-right h2 {
    font-family: var(--Fira);
    font-size: 1.6rem;
    color: #1c1c21;
    margin-bottom: 10px;

  }
  #about .abt-right p {
      font-family: var(--Roboto);
      font-size: 1.1rem;
      color: #1c1c21;
  }
}

/* Work */
#work {
  margin: 5% 15%;
}
#work .work-wrapper {
  min-height: 500px;
  max-width: 85vw;
}
#work .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#work h3 {
text-align: center;
    font-family: var(--Fira);
    font-size: 2.5rem;
    color: #1c1c21;
    margin-bottom: 20px;
}
#work .box {
  margin: 20px;
}
#work .gallery img {
  max-width: 220px;
  flex-shrink: 1;
  box-shadow: 0 0 0 0 #fff031;
  transition: .2s;
}
#work .gallery img:hover{
  box-shadow: 15px 15px 0 0 #fff031;
}
@media (min-width: 320px) and (max-width: 767px) {
  #work h3 {
    font-family: var(--Fira);
    font-size: 1.6rem;
    color: #1c1c21;
    margin-bottom: 10px;

  }
  #work .box {
    margin: 15px;
  }
  #work .gallery img {
    max-width: 200px;
    flex-shrink: 1;
    box-shadow: 0 0 0 0 #fff031;
    transition: .2s;
  }
  #work .gallery img:hover{
    box-shadow: 15px 15px 0 0 #fff031;
  }
}

/* Contact */
#contact {
  background-color: #F7F7F7;
}

#contact .contact-wrapper {
  margin: 0 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  max-width: 85vw;
  height: 100vh;
  align-items: center;
}
#contact .ct-left img{
  box-shadow: 0 0 0 0 #fff031;
    transition: .2s;
}
#contact .ct-left img:hover{
  box-shadow: 15px 15px 0 0 #fff031;
}
#contact .ct-right {
  max-width: 40vw;
}

#contact h2 {
    font-family: var(--Fira);
    font-size: 2.5rem;
    color: #1c1c21;
    margin-bottom: 20px;
}
#contact .social {
    margin: 20px auto;
}
#contact .social a{
    text-decoration: none;
    margin-right: 12px;
    color: #C1C1C1;
}
#contact .social a.tw:hover {
    color: #1da1f2;
}
#contact .social a.gi:hover {
    color: #333333;
}
#contact .social a.li:hover {
    color: #0077b5;
}
#contact .social a.in:hover {
    color: #e1306c;
}
#contact p {
    font-family: var(--Roboto);
    font-size: 1.5rem;
    color: #1c1c21;
}
#contact .mob {
    display: none;
  }
@media (min-width: 320px) and (max-width: 767px) {
  #contact .contact-wrapper {
    padding: 15% 0; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 70vh;
    align-items: center;
  }
  #contact .desk {
    display: none;
  }
  #contact .mob {
    display: block;
  }
  #contact .ct-right {
    margin-top: 10%;
      max-width: 60vw;
  }
  #contact .desk {
    display: none;
  }
  #contact .mob {
    display: block;
  }
  #contact .ct-right h2 {
        font-family: var(--Fira);
    font-size: 1.6rem;
    color: #1c1c21;
    margin-bottom: 10px;

  }
  #contact .ct-right p {
      font-family: var(--Roboto);
      font-size: 1.1rem;
      color: #1c1c21;
  }
}

/*Footer*/
#footer {
  background-color: #F7F7F7;

}
#footer .footer-wrapper {
  margin: 0 18%;
  font-family: var(--Roboto);
  color: #313135;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#footer p {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 0 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  #footer .footer-wrapper {
    margin: 0 18%;
    font-family: var(--Roboto);
    color: #313135;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  }
  #footer p {
    font-size: 1rem;
    padding: 0 0 8px 0;
  }
}








/*Test*/