* {
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif !important;
    text-align: center;
}

a {
    text-decoration: underline;
    color: #90c84b;
    font-weight: bold;
    font-size: 24px;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    padding: 30px 0;
    color: #90c84b;
}

h2 {
    font-weight: 900;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #505050;
}

.showcase {
    width: 18%;
    float: left;
    margin-left: 1.66%;
    padding: 20px 0;
    margin-bottom: auto;
}

.aboutext {
    font-size: 19px;
    line-height: 21px;
    max-width: 580px;
    font-weight: 700;
    color: #1f170f;
    opacity: .75;
    margin: auto;
    padding: 0 20px;
    left: 0;
}

.introtext {
    font-size: 24px;
    padding: 10px 0;
}

.intro {
    background-color: #4d4c4e;
    font-size: 21px;
    color: white;
    padding-top: 100px;
    height: 100vh;
}

.socialmedia img {
    width: auto;
    height: 28px;
    margin: 0 8px;
    opacity: .8;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.contact a {
    font-size: 21px;
    text-decoration: none;
    color: #4d4c4e;
}

.contact p{
    font-size: 26px;   
    margin-top: 0;
    padding-top: 0;
}

/* */

.error {
    color: #90c84b;
    background-color: #4d4c4e;
    padding-top: 180px;
    font-size: 100px;
    text-align: center;
    height: 100vh;
}

.error-text {
    color: #90c84b;
    font-size: 38px;
    text-align: center;
    margin: 0 auto;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    
.aboutext {
    word-wrap: break-word;
    font-weight: bold;
    line-height: 40px;
    margin-left: 20px;
    font-size: 30px;
    max-width: 80%;
}
    
}