body {
    background-color: #9df1e3;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.container {
    width: 40%;
    margin: 0 auto;
}

h1 {
    padding: 40px 0;
}

p {
    font-size: 22px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
    
    h1 {
        padding: 5px 0;
    }
    p {
        font-size: 14px;
    }
}