/*
Table of Content -
========================
00 - General Style
01 - Typography
02 - Misc Style
03 - Section wraps
04 - Custom Buttons
05 - Intro Section
06 - About Section
07 - Features Section
08 - Testimonail Section
09 - Client Section
10 - CTA Section
11 - Footer Section
12 - Pricing Section
13 - Media Queries
======================*/

/*
00 - General Style
======================*/
body {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*
00 - Typography Style
======================*/
a { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:visited { text-decoration: none; }


h1 { font-size: 2.2em; font-weight: bold; }
h2 { font-size: 1.8em; font-weight: bold; }
h3 { font-size: 1.4em; font-weight: bold; }
h4 { font-size: 1.1em; font-weight: bold; }
h5 { font-size: 0.9em; font-weight: bold; }
h6 { font-size: 0.8em; font-weight: bold; }

li { font-size: 1em; font-weight: 400; }

.cstgiant { font-size: 2.8em; }
.cstbiggest { font-size: 2.2em; }
.cstbigger { font-size: 1.8em; }
.cstbig { font-size: 1.4em; }
.cstnormal { font-size: 1em; }
.cstsmall { font-size: 0.9em; }
.cstsmaller { font-size: 0.8em; }
.cstsmallest { font-size: 0.7em; }

p { font-size: 1.2em; }

.wt300 { font-weight: 300; }
.wt400 { font-weight: 400; }
.wt600 { font-weight: 600; }
.wt700 { font-weight: 700; }

.mb20 { margin-bottom: 20px; }
.mt20 { margin-top: 20px; }
.mb40 { margin-bottom: 40px; }
.mt40 { margin-top: 40px; }

.muted { color: #90a1b8; }
.dark { color: #555; }

/*
02 - Misc Section
======================*/
section {
    padding-bottom: 100px;
    padding-top: 100px;
}
#footer {
    padding-bottom: 10px;
    padding-top: 40px;
}
#clients {
    padding-top: 60px;
    padding-bottom: 60px;
}
#cta {
    padding-top: 60px;
    padding-bottom: 60px;
}
/*
03 - Section Wrap
======================*/
#intro .introwrap { margin: 0 auto; max-width: 75%; }
#about .aboutwrap { margin: 0 auto; max-width: 75%; }
#service .servicewrap { margin:0 auto; max-width: 80%; }
#feature .featurewrap { margin:0 auto; max-width: 75%; }
#how .howwrap { margin: 0 auto; max-width: 75%; }
#clients .clientswrap { margin: 0 auto; max-width: 75%; }
#footer .footerwrap { margin:0 auto; max-width: 90% }
/*
04 - Custom Button Section
======================*/
.advbtn {
    background-color: #6071d5;
    border: 2px solid #6071d5;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    margin: 0px 10px 10px 0;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.advbtn:hover {
    color: #f7f7f7;
    opacity: 0.7;
}
/* image button */
.advbtn-img {
    display: inline-block;
    position: relative;
}
.advbtn-img img {
    border-radius: 4px;
}
.advbtn-img::before {
    color: #6071d5;
    content: '\f04b';
    font-family: 'FontAwesome';
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 3px 15px 3px 25px;
    position: absolute;
    z-index: 5;
}
.advbtn-img:hover.advbtn-img::before {
    color: #f7f7f7;
}
/*
05 - Intro Section
======================*/
#intro {
    height: 100vh;
    padding-top: 180px;
    background-color: #000;
    background-image: url(../img/gettyimg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
    box-shadow: -10px -2px 12px 0px rgba( 0, 0, 0,0.9);
    height: 100vh;
}
#intro:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;/*
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    */
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: .6;
}
#intro h1 {
    line-height: 68px;
}

/*
06 - About Section
======================*/
#about ul li {
    margin-bottom: 10px;
}

/*
06 - Footer Section
======================*/
#footer {
    background-color: #2e2d32;
    color: #90a1b8;
    box-shadow: 0px -2px 29px -10px rgba( 0, 0, 0,0.9);
}
#footer img {
    opacity: 0.4;
    margin-top: 15px;
}
#footer img:hover {
    opacity: inherit;
}
#footer p {
    margin-top: 10px;
}
#footer h4 {
    margin-top: 0;
}
#footer ul {
    padding-left: 0;
    list-style: none;
}
#footer li {
    font-size: 0.7em;
    line-height: 22px;
    padding-left: 20px;
}
#footer a {
    margin-top: 0;
    color: #90a1b8;
}
#footer a:hover {
    color: #6071d5;
}

/*
Testing service 
======================*/
.servicebox {
    border: 2px solid #6071d5;
    border-radius: 4px;
    color: #555;
    padding: 30px;
    margin: 20px 20px 20px 20px;
}
.servicebox:hover {
    transition: 0.2s ease-in;
    box-shadow: 0 0 20px rgba( 200, 200, 200, 0.9);
    border: 2px solid #6071d5;
}

#cstslider {
    background-color: #f7f7f7;
}
#cstslider .cstsliderwrap {
    margin: 0 auto; max-width: 80%;
}
#cstslider .carousel-inner {
    padding-bottom: 50px;
}
#cstslider ol.carousel-indicators {    
    right: 0;
    bottom: 1px;
    left: 0;
    display: block;
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
}
#cstslider ol.carousel-indicators li {  
    border-radius: 0;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #90a1b8;
    border: 0;
}
#cstslider .carousel-indicators .active {
    background-color: blue; 
    border-radius: 0;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    border: 0;
}
#cstslider .carousel-control {
    position: absolute;
    top: 45%;
    
    font-size: 20px;
    color: #6071d5;
    width: 0%;
    opacity: inherit;
    text-align: center;
    text-shadow: none;
}
#cstslider .carousel-control.left {
    background-image: none;
    background-repeat: no-repeat;
}
#cstslider .carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
    right: 0;
    left: auto;
}

/*
Feature Section
======================*/
#feature img {
    max-width: 150px;
    filter: grayscale(0%);
}
#feature .featureblock:hover img {
    filter: grayscale( 100% );
}
#feature .featuretext {
    text-align: left;
}


/*
How we do Section
======================*/
#how {
    background-color: #f7f7f7;
}
.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.modal-body {
    padding: 0 25px 25px 25px;
}
.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}
.modal-header, .modal-footer {
    border: 0;
}
.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

/*
Clients
======================*/
#clients img {
    cursor: pointer;
    filter: opacity( 0.7);
    display: inline-block;
    max-width: 200px;
    margin-right: 10px;
}
#clients img:hover {    
    filter: opacity( 1 );
}

/*
CTA
======================*/
#cta {
    background-color: #f7f7f7;
}
#cta input {
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    min-width: 50px;
    max-width: 600px;
    background-color: #ffffff;
    margin: 0 0 24px 0;
    padding: 8px 20px 8px 10px;
    border: 2px solid #c9c9c9;
}

/*
    background-color: #6071d5;
    border: 2px solid #6071d5;
    border-radius: 4px;
    margin: 0px 10px 10px 0;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
=============*/