body {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
}

h2 { font-size: 1.9em; line-height: 46px; }
h4 { font-size: 1em; font-weight: bold;}
/*
Miscellenous
============================*/

hr {
    border: 0;
    height: 3px;
    width: 100px;
    /*    background: #FABB05; */
    background: #B92B27;
    margin: 22px 0 60px;
}

a { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:visited { text-decoration: none; }

.wt-400 { font-weight: 400; }
.wt-600 { font-weight: 600; }
.wt-bold { font-weight: bold; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.fa.fa-18 { font-size: 18px; }
.fa.fa-24 { font-size: 24px; }
.fa.fa-36 { font-size: 36px; }
.fa.fa-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/*
Intro
============================*/
#intro {
    height: 100vh;
    background: url(../img/library.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}
#intro .intro-text {
    text-align: center;
    padding-top: 40%;
}
#intro .intro-text h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.4em;
    font-weight: 100;
    font-style: italic;
    color: #FFF700;
}
#intro .intro-text p {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: #f9f9f9;
}

/*
Intro Media Queries
============================*/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #intro .intro-text {
        text-align: center;
        padding-top: 30%;
    }
    #intro .intro-text h1 {
        font-size: 3.4em;
    }
    #intro .intro-text p {
        font-family: 'Playfair Display', serif;
        font-size: 1.6em;
        color: #f9f9f9;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #intro .intro-text {
        text-align: center;
        padding-top: 24%;
    }
    #intro .intro-text h1 {
        font-size: 4.4em;
    }
    #intro .intro-text p {
        font-family: 'Playfair Display', serif;
        font-size: 2em;
        color: #f9f9f9;
    }
}


/*
About
============================*/
#about {
    border-top: 6px solid #ddd;
    background-color: #f4f7f8;
    padding: 80px 0;
}
#about p {
    text-align: justify;
    font-size: 1em;
    margin-bottom: 20px;
}
#about strong {
    color: #B92B27;
    font-size: 1.2em;
}
/*
About Media Queries
============================*/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #about p {
        font-size: 0.9em;
    }
    #about strong {
        font-size: 1.1em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #about p {
        font-size: 1em;
    }
    #about strong {
        font-size: 1.2em;
    }
}


/*
Expertise
============================*/
#expertise {
    padding: 50px 0;
}
#expertise .box {
    margin-bottom: 50px;
    padding: 0 13px;
}
#expertise img {
    width: 50px;
    margin-bottom: 10px;
}
#expertise h3 {
    color: #292929;
    font-size: 1em;
    margin-top: 0px;
    font-weight: 700;
}
#expertise p {
    font-size: 0.8em;
    line-height: 24px;
    color: #a0a0a0;
    font-weight: 400;
}
#expertise .readmore {
    font-weight: 600;
}

/*
CTA Banner
============================*/
#ctabanner {
    padding: 30px 0;
    background-color: #f4f7f8;
}
#ctabanner .content {
    font-size: 0.8em;
    line-height: 24px;
    text-align: left;
}
#ctabanner .box .content {
    display: inline-block;
}
#ctabanner .box span {
    float: left;
    padding-right: 15px;
    padding-top: 10px;
}

/*
Intro
============================*/
/*
Intro
============================*/
/*
Intro
============================*/
/*
Intro
============================*/
/*
Intro
============================*/
