/*
General Css 
========================*/
body {
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #333;
    font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
a:hover { text-decoration: none; }
h1 {   
    margin: 10px 0 15px;
    padding: 6px 0 10px;
    line-height: 36px;
    font-size: 1.6em;
    font-weight: 400;
}
p {
    font-size: 1.4em;
    font-weight: 300;
}
.sectionwrap {
    width: 90%;
    margin: 0 auto;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    h1 {   
        margin: 10px 0 15px;
        padding: 6px 0 10px;
        line-height: 34px;
        font-size: 1.4em;
        font-weight: 400;
    }
    p {
        font-size: 1.1em;
        font-weight: 300;
    }
    .sectionwrap {
        width: 95%;
        margin: 0 auto;
    }
}

/*
Intro 
========================*/
#intro {
    background-color: #f5f5f5;
    height: 100vh;
}
#intro .bt-btnwrap img {
    padding-top: 30px;
    max-height: 160px;
    max-width: 160px;
}
#intro img.assistant {
    margin: 10% auto 4%;
}
#intro p {
    width: 45%;
    margin: 0 auto;
}
#intro .bt-app {
    padding-right: 20px;
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #intro p {
        width: 80%;
        margin: 0 auto;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #intro p {
        width: 80%;
        margin: 0 auto;
    }    
    #intro img.assistant {
        margin: 30% auto 5%;
        width: 300px;
    }
}
/*
Section One
========================*/
#bt-one {
    background-color: #fff;
}
#bt-one img.mobile {
    margin: 15% auto;
}
#bt-one .content {
    margin: 40% auto;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #bt-one img.mobile {
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        margin-bottom: 0;
    }
    #bt-one .content {
        text-align: center;
        width: 85%;
        margin: 10% auto;
    }
}
/*
Section Two
========================*/
#bt-two {
    background-color: #f5f5f5;
}
#bt-two img.speaker {
    margin: 15% auto;
}
#bt-two .content {
    text-align: left;
    margin: 25% auto;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #bt-two img.speaker {
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        margin-bottom: 0;
    }
    #bt-two .content {
        text-align: center;
        width: 85%;
        margin: 10% auto;
    }
}
/*
Sitta
========================*/
#sitta {
    height: 100vh;
    color: #797979;
    background: url(../img/sitta.jpg) center center no-repeat;
    background-attachment: scroll;
    background-size: cover;
    -webkit-background-size: cover;
}
#sitta .cst-text {
    width: 30%;
    margin-top: 5%;
}
#sitta .cst-text h1 {
    font-size: 2.9em;
    font-weight: 500;
    margin-bottom: 0px;
}
#sitta .cst-text p.tagline {
    font-size: 2em;
    line-height: 46px;
    font-weight: 400;
}
#sitta .cst-text p.desc {
    font-size: 1.2em;
    line-height: 28px;
    font-weight: normal;
    margin-top: 20%;
    margin-bottom: 0px;
}
#sitta .cst-cta a {
    color: #797979;
}
#sitta .cst-cta .fa {
    font-size: 2em;
    line-height: 40px;
    vertical-align: middle;
}
#sitta .cst-cta p {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1em;
    line-height: 28px;
    line-height: 46px;
    font-weight: 400;
    display: inline-block;
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #sitta .cst-text {
        margin-left: 14px;
        width: 81%;
        margin-top: 5%;
    }
    #sitta .cst-text h1 {
        font-size: 2.4em;
        font-weight: 500;
        margin-bottom: 0px;
    }
    #sitta .cst-text p.tagline {
        font-size: 1.6em;
        line-height: 46px;
        font-weight: 400;
    }
    #sitta .cst-text p.desc {
        font-size: 1em;
        line-height: 28px;
        font-weight: normal;
        margin-top: 20%;
        margin-bottom: 0px;
    }
    #sitta .cst-cta .fa {
        font-size: 1.6em;
        line-height: 36px;
        vertical-align: middle;
    }
    #sitta .cst-cta p {
        padding-top: 8px;
        padding-left: 8px;
        font-size: 0.9em;
        line-height: 28px;
        line-height: 46px;
        font-weight: 400;
        display: inline-block;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #sitta .cst-text {
        margin-left: 14px;
        width: 81%;
        margin-top: 5%;
    }
    #sitta .cst-text h1 {
        font-size: 2.4em;
        font-weight: 500;
        margin-bottom: 0px;
    }
    #sitta .cst-text p.tagline {
        font-size: 1.6em;
        line-height: 46px;
        font-weight: 400;
    }
    #sitta .cst-text p.desc {
        font-size: 1em;
        line-height: 28px;
        font-weight: normal;
        margin-top: 20%;
        margin-bottom: 0px;
    }
    #sitta .cst-cta .fa {
        font-size: 1.6em;
        line-height: 36px;
        vertical-align: middle;
    }
    #sitta .cst-cta p {
        padding-top: 8px;
        padding-left: 8px;
        font-size: 0.9em;
        line-height: 28px;
        line-height: 46px;
        font-weight: 400;
        display: inline-block;
    }
}
/*
Footer
========================*/
#footer {
    padding-top: 30px;
    background-color: #fff;
}
#footer .bt-ftlink {
    font-size: 1em;
    margin-bottom: 10px;
}
#footer .bt-ftlink li {
    padding: 15px 12px;
}
#footer .bt-ftlink a {
    color: #444;
}
#footer .bt-ftsocial {
    padding-bottom: 30px;
}
#footer .bt-ftsocial a {
    color: #444;
    padding: 10px;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #footer .bt-ftlink li {
        padding: 10px;
    }
}