* {
	margin: 0;
	padding: 0;
}
/* MD Icons fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Variables */
/* Colors */
:root {
  --colorBlack : black;
  --colorSmoothWhite : whitesmoke; 
  --colorOrangish : #ffb302;
  --colorLightWhite : #f7f7f7;
	--colorMuted : #444444;

	--linkedin: #0077B5;
	--gmail: #D14836;
	--facebook: #3B5998;
	--twitter: #1DA1F2;
	--instagram: #E4405F;
	--github: #181717;
}
/* Font Family */
:root {
	--Roboto : 'Roboto', 'Open Sans', Helvetica, sans-serif;
  --Mdfont: 'Material Icons';
}


body {
	font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-size: 20px;
	color: var(--colorBlack);
	background-color: var(--colorSmoothWhite);
	box-sizing: border-box;
}
::selection {
  background: var(--colorLightWhite);
 }
.margin { margin: 0 15%; }
/* Spacers */

/* Typography */
h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2.6em; }
h4 { font-size: 2.4em; }
h5 { font-size: 2.2em; }
h6 { font-size: 1.8em; }

.fs-1 { font-size: 0.9em; }
.fs-2 { font-size: 1em; }
.fs-3 { font-size: 1.2em; }
.fs-4 { font-size: 1.4em; }
.fs-5 { font-size: 1.6em; }

.fw-1 { font-weight: 100; }
.fw-2 { font-weight: 300; }
.fw-3 { font-weight: 400; }
.fw-4 { font-weight: 500; }
.fw-5 { font-weight: 700; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.justify { text-align: justify; }

/* Viewport Height */
.vh { height: 100vh; }
.vw80 { max-width: 80vw; }
.vw85 { max-width: 85vw; }
.vw70 { max-width: 70vw; }
.vw75 { max-width: 75vw; }
.vw60 { max-width: 60vw; }


/* Flex Box */

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }


/* Intro */
.intro_wrap {
	justify-content: center;
	align-items: flex-start;
}
hr {
	margin-top: 10px;
	border: 1px solid var(--colorOrangish);
    max-width: 12vw;
    width: 100%;
}
small {
	opacity: 0.8;
	text-transform: capitalize;
}
.intro a {
	text-decoration: none;
	color: var(--colorBlack);
}
.intro a:hover {
	display: inline-block;
	text-decoration: none;
	transition: 0.2s;
	transition: all 1s ease-in-out;
	transform: rotate(-360deg);
	color: var(--colorOrangish);;
}
p {
	letter-spacing: 0.5px;
	color: var(--colorMuted);
	line-height: 1.2em;
}

/* About */
.about_wrap {
	justify-content: space-around;
	align-items: center;
}
.left-block, .right-block {
	display: block;
}
img {
	display: block;
}
.shadow {
	box-shadow: 0 0 0 0 #fff031;
    transition: .2s;
}
.shadow:hover {
	box-shadow: 15px 15px 0 0 #fff031;
}
.right-block {
	max-width: 40vw;
}
.social ul li{
	display: inline-block;
}
.social ul li img{
	margin-right: 15px;
}

.svg {
	height: 28px;
	width: 28px;
}
.svg:hover {
	opacity: 0.6;
}/* 
svg path,
svg circle {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.social .li:hover path {
	fill: var(--linkedin);
	fill: red;

}
.social .tw:hover path {
	fill: var(--twitter);
}
.social .in:hover path {
	fill: var(--instagram);
}
.social .fb:hover path {
	fill: var(--facebook);
}
.social .gi:hover path {
	fill: var(--github);
}
.social .gm:hover path {
	fill: var(--gmail);
} */


/* Work */
.work_wrap {
	justify-content: center;
	align-content: center;
	align-items: center;
}

.thumb-preview {
  height: 250px;
  width: 250px;
  margin: 1em;
  margin-left: 0;
	box-shadow: 0 0 0 0 #fff031;
  transition: .2s;
}
.thumb-preview:hover {
	box-shadow: 15px 15px 0 0 #fff031;
}
.overlay {
    -o-transition: all .3s;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: relative;
}
/* 
.work-prev {
    margin: 1em;
    margin-left: 0;
    box-shadow: 0 0 0 0 #fff031;
    transition: .2s;
}
.work-prev:hover {
	box-shadow: 15px 15px 0 0 #fff031;
}
.work-prev {
    height: 300px;
    width: 300px;
    display: flex;
}
.work-prev:hover .overlay {
    opacity: 1;
}
a:hover {
    color: #7a8ffd;
}
.overlay {
    -o-transition: all .3s;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: relative;
}
.wp-desc {
    position: absolute;
    bottom: 2rem;
    text-decoration: none;
    left: 2rem;
}
.wp-title {
    color: #fff;
}
.wp-info {
    color: #bfbfbf;
} */
