* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
  font-family: 'Roboto', 'Open Sans', Helvetica,'Fira Sans', sans-serif ;
  font-size: 16px;
  line-height: 19px;
  height: 100vh;
      font-weight: 400;
  -webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	letter-spacing: 0.3px;
  position: relative;
  background-image: linear-gradient(to bottom, #1C1C1C, #1C1C1C 50%, #007BFF 50%, #007BFF);
  background-size: cover;
  background-repeat: no-repeat;
}
body:after{
  content:'Auth Life';
  font-size: 10rem;
  font-family: 'Roboto', 'Open Sans', Helvetica,'Fira Sans', sans-serif ;
  position: fixed;
  text-align: left;
  color: #00000014;
  transform: scale(1);
  left: 20%;
  z-index: 1;
  bottom: 17%;
  text-transform: uppercase;
  line-height: 5px;
  z-index: -99;
}
.bgdark {
  background-image: linear-gradient(to bottom, #1C1C1C, #1C1C1C 100%);   
  transition: background-image 0.5s ease-in-out;
  background-color: #1C1C1C;

}
.bglight {
	background-image: linear-gradient(to bottom, #FAFAFA, #FAFAFA 100%);   
  transition: background-image 0.5s ease-in-out;
  background-color: #FAFAFA;
}

/*================== Ico Moon Font Starts ===================*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rszgrp');
  src:  url('fonts/icomoon.eot?rszgrp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rszgrp') format('truetype'),
    url('fonts/icomoon.woff?rszgrp') format('woff'),
    url('fonts/icomoon.svg?rszgrp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e90e";
}
.icon-music:before {
  content: "\e911";
}
.icon-video:before {
  content: "\e912";
}
.icon-document:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-sun:before {
  content: "\e9d6";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-close:before {
  content: "\ea0f";
}
.icon-right:before {
  content: "\ea10";
}
.icon-load:before {
  content: "\ea2e";
}
.icon-up-right:before {
  content: "\ea3b";
}
.icon-up-circle:before {
  content: "\ea41";
}
.icon-share:before {
  content: "\ea82";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
/*================== Ico Moon Font Ends ===================*/


/*================== Main Starts ===================*/
#main {
	margin: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
} 

/*================== Main Starts ===================*/


/*================== Listing Starts ===================*/
#listing {
  max-width: 50vw;
  flex: 1 0 auto;
}
.list {
  border-radius: 4px;
  padding: 0.9rem 1.25rem;
  margin: 0.5rem 0;
  border: 1px solid transparent;
}
.light-text {
  color: #eeeeee;
}
.dark-text {
  color: #222222;
}
.list:hover {
  background-color: #333333;
  transition: 0.3s;
}

.title h3 {
  font-weight: normal;
  color: #66abff;
  padding-bottom: 0.1rem;
}
.title p {
  color: #939d24;
  font-style: normal;
  padding-bottom: 0.15rem;
}
.desc p {
  padding-bottom: 0.9rem;
  font-style: normal;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.8rem;

}
.btn-preview {
  padding: 0.4rem 0.6rem;
  background-color: #282828;
  border-radius: 4px;
  color: #666666;
  letter-spacing: 0.03rem;
}
.btn-preview:hover {
  color: #cccccc;
  cursor: pointer;
}
.btn-badge {
  padding: 0.4rem 0.6rem;
  margin-right: 0.2rem;
  background-color: #282828;
  border-radius: 4px;
  color: #666666;
}
.btn-badge:hover {
  color: #cccccc;
  cursor: pointer;
}
/*================== Listing Ends ===================*/


/*================== Preview Starts ===================*/
#preview {
	flex: 0 1 auto;
	max-width: 50vw;
  padding: 0.9rem .75rem;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #161616;
  color: #eeeeee;
  font-size: 0.9rem;

}
#iframe-ctrl {
	font-size: 1rem;
	padding: 0.6rem 0.9rem;
  background-color: #282828;
  border-radius: 4px;
  text-align: center;
  color: #666666;
}
#iframe-ctrl:hover {
  color: #cccccc;
  cursor: pointer;
}
#iframe {
	padding: 1rem 0;
}
/*================== Preview  Ends ===================*/
