/*
Custom Page Style
============================*/
.cst-header {
    padding-top: 60px;
    position: relative;
    background-position: 50%;
    background-size: cover;
}
.cst-header:before {
    position: absolute;
    right: 0;
    left: 0;
    display: block;    
    height: 100%;
    content: "";
    /*
    background: linear-gradient(hsla(0,0%,100%,.8),hsla(0,0%,100%,.9) 50%,#fff);
    */
}
.cst-content {
    position: relative;  
    padding: 60px 12px 72px;
}
.cst-content h1 {
    font-size: 1.4em;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;

}
/*
Custom page Media Queries
============================*/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .cst-content h1 {
        font-size: 2em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .cst-content h1 {
        font-size: 2em;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .cst-content h1 {
        font-size: 2.4em;
    }
}
/*
Breadcrumbs
============================*/
#breadcrumbs {
    text-align: center;
    background-color: #F5F5F5;
    padding: 15px 0;
}
#breadcrumbs a {
    font-size: 0.7em;
    font-weight: bold;
    color: #16171D;
    line-height: 26px;
}
#breadcrumbs a:hover {
    color: #B92B27;
}
#breadcrumbs a.disabled {
    color: #B92B27;
    pointer-events: none;
}
/*
Area of Expertise // SKills
============================*/
#skill .skillwrap {
    margin: 80px auto;
}
#skill ul {
    margin: 0 20px;
}
#skill li {
    padding-bottom: 8px;
}
#skill .heading h2 {
    font-size: 1.4em;
    font-weight: 400;
}
#skill .heading {
    cursor: pointer;
}
#skill .heading img {
    width: 40px; 
    margin-right: 30px;
}
#skill .answer p {
    text-align: justify;
}
/*
Area of Expertise // SKills Media Queries
============================*/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #skill .heading h2 {
        font-size: 1.4em;
    }
    #skill .answer {
        font-size: 0.9em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #skill .heading h2 {
        font-size: 1.8em;
    }
    #skill .answer {
        font-size: 0.85em;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #skill .heading h2 {
        font-size: 1.9em;
    }
    #skill .answer {
        font-size: 1em;
        padding-right: 20px;
    }
    #skill .answer p {
        margin-right: 20px;
    }
}
/*
Courts
============================*/
#court .courtlist {
    margin: 50px auto;
    text-align: left;
}
#court .courtlist a {
    text-decoration: underline;
}
#court .courtlist a:hover, a:visited, a:active {
    text-decoration: underline;
}
/*
Careers
============================*/
#formholder .jotform-form {
    padding: 0px 0px;
}
/*
Error 404
============================*/
#error {
    height: 100vh;
    padding-top: 200px;
    text-align: center;
}
#error p {
    color: #a0a0a0;
    margin: 30px auto;
    max-width: 50%;
}
#error .mm-btn {
    margin: 0;
}
.mm-btn {
    display: inline-block;
    border: 2px solid #6071d5;
    border-radius: 3px;
    padding: 8px 20px;
    margin: 0 10px 10px 0;
    font-size: 1em;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;

}
.mm-btn:hover, .mm-btn:focus {
    background-color: #6071d5;
    color: #ffffff;
    text-decoration: none;
}