body {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h2 { font-size: 1.9em; line-height: 46px; }
h4 { font-size: 1em; font-weight: bold;}
/*
Miscellenous
============================*/
hr {
    border: 0;
    height: 3px;
    width: 100px;
    /*    background: #FABB05; */
    background: #B92B27;
    margin: 22px 0 60px;
}

a { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:visited { text-decoration: none; }

.wt-400 { font-weight: 400; }
.wt-600 { font-weight: 600; }
.wt-bold { font-weight: bold; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.fa.fa-18 { font-size: 18px; }
.fa.fa-24 { font-size: 24px; }
.fa.fa-36 { font-size: 36px; }
.fa.fa-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }


.aboutwrap, .expertisewrap, .ctabannerwrap, .contactwrap, .testimonialwrap { margin: 0 auto; max-width: 90%; }


/*
preloaders
============================*/
.preloader {
    display: block; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: #fff; 
    text-indent: -9000px; 
    z-index: 99999; 
}
.preloader:before {
    content: '';
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%; 
    top: 50%; 
    margin-top: -20px;
    margin-left: -20px;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 0, 0, .15);
    border-right: 6px solid rgba(0, 0, 0, .15);
    border-bottom: 6px solid rgba(0, 0, 0, .15);
    border-top: 6px solid rgba(185, 43, 39, .8);
    border-radius: 100%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
@-webkit-keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }
@-moz-keyframes rotation { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(359deg); } }
@-o-keyframes rotation { from { -o-transform: rotate(0deg); } to { -o-transform: rotate(359deg); } }
@keyframes rotation { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }
/*
Navbar
============================*/
.navbar {
    padding: 0 10px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    color: #333;
    -webkit-transition: .3s all;
    transition: .3s all;
}
.navbar a {
    color: #fff !important;
}
.navbar button {
    color: inherit !important;
}
.navbar.compressed {
    padding-top: 10px;
    padding-bottom: 10px;
    /*    background: #6dcc7c;*/
    background: #B92B27;
    /*    color: #6dcc7c;*/
    color: #000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle span:nth-child(3) {
    opacity: 0;
}
.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed span:nth-child(2), .navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}
.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

/*
Intro Media Queries
============================*/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar {
        padding: 25px 10px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .navbar {
        padding: 25px 50px;
    }
}
/*
Intro
============================*/
#intro {
    height: 100vh;
    background: url(../img/library.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}
#intro .intro-text {
    text-align: center;
    padding-top: 40%;
}
#intro .intro-text h1 {
    background-color: rgba(0, 0, 0, 0.51);
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.4em;
    font-weight: 300;
    font-style: normal;
    color: #FFF700;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
#intro .intro-text p {
    background-color: rgba(0, 0, 0, 0.51);
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: #f9f9f9;
}

/*
Intro Media Queries
============================*/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #intro .intro-text {
        text-align: center;
        padding-top: 30%;
    }
    #intro .intro-text h1 {
        font-size: 3.4em;
    }
    #intro .intro-text p {
        font-family: 'Playfair Display', serif;
        font-size: 1.6em;
        color: #f9f9f9;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #intro .intro-text {
        text-align: center;
        padding-top: 24%;
    }
    #intro .intro-text h1 {
        font-size: 4.4em;
    }
    #intro .intro-text p {
        font-family: 'Playfair Display', serif;
        font-size: 2em;
        color: #f9f9f9;
    }
}


/*
About
============================*/
#about {
    border-top: 6px solid #ddd;
    background-color: #f4f7f8;
    padding: 80px 0;
}
#about p {
    text-align: justify;
    font-size: 1em;
    margin-bottom: 20px;
}
#about strong {
    color: #B92B27;
    font-size: 1.2em;
}
/*
About Media Queries
============================*/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #about p {
        font-size: 0.9em;
    }
    #about strong {
        font-size: 1.1em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #about p {
        font-size: 1em;
    }
    #about strong {
        font-size: 1.2em;
    }
}


/*
Expertise
============================*/
#expertise {
    padding: 50px 0;
}
#expertise .box {
    margin-bottom: 50px;
    padding: 0 13px;
}
#expertise img {
    width: 50px;
    margin-bottom: 10px;
}
#expertise h3 {
    color: #292929;
    font-size: 1em;
    margin-top: 0px;
    font-weight: 700;
}
#expertise p {
    font-size: 0.8em;
    line-height: 24px;
    color: #a0a0a0;
    font-weight: 400;
}
#expertise .readmore {
    font-weight: 600;
}

/*
CTA Banner
============================*/
#ctabanner {
    padding: 30px 0;
    background-color: #f4f7f8;
}
#ctabanner .content {
    font-size: 0.8em;
    line-height: 24px;
    text-align: left;
}
#ctabanner .box .content {
    display: inline-block;
}
#ctabanner .box span {
    float: left;
    padding-right: 15px;
    padding-top: 10px;
}

/*
Testimonial
============================*/
#testimonial {
    padding: 50px 0;
    color: #42CDC4;
    background: #111;
}
#testimonial .quotebox {
    padding: 60px;
    position: relative;
    background: none;
}
#testimonial .quotebox p::before {
    content: '"';
    color: #FFF700;
    font-style: italic;
    font-size: 6em;
}
#testimonial .quotebox .content p {
    font-size: 1em;
    line-height: 36px;
}
#testimonial small {
    color: #c5c5c5;
    font-size: 15px;
    margin: 12px 0;
}
#testimonial .carousel-control.left {
    background-image: none;
    background-repeat: no-repeat;
}
#testimonial .carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
    right: 0;
    left: auto;
}
#testimonial .carousel-control {
    position: absolute;
    top: 45%;
    font-size: 20px;
    color: white;
    width: auto;
    opacity: inherit;
    text-align: center;
    text-shadow: none;
}

/*
CTA block
============================*/
#ctablock {
    border-top: 6px solid #ddd;
    background-color: #f4f7f8;
}
#ctablock .ctalinkwrap {
    padding: 10px;
    text-align: center;
    background-color: white;
    max-width: 50%;
    margin: -45px auto 10px;
    border: 10px solid #FFF700;
}
#ctablock a.left {
    border-right: 2px solid #FFF700;
}
#ctablock a {
    display: inline-block;
    font-weight: 600;
    color: #555;
    padding: 10px 30px;
}
/*
Contact
============================*/
#contact {
    padding: 50px 0;
    background-color: #f4f7f8;
}
#contact input, #contact textarea {
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 0 0 16px 0;
    padding: 8px 20px 8px 10px;
    border: 2px solid #c9c9c9;
}
#contact textarea {
    resize: none;
}
#contact hr {
    background: #5fcf80;
}
#contact .ct-btn {
    background-color: #B92B27;
    border: 2px solid #B92B27;
    border-radius: 4px;
    color: #fff;
    color: #fff;
    display: inline-block;
    padding: 8px 50px;
    margin: 0px 10px 10px 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
#contact .ct-btn:hover {
    color: #f7f7f7;
    opacity: 0.7;
}
.iframe-container{
    margin-top: 50px;
    margin-bottom: 50px;
    background: #eee;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*
Footer
============================*/
#footer {
    border-top: 6px solid #ddd;
    padding: 40px 0;
    position: relative;
    background: #111;
    font-size: 16px;
}
#footer a {
    color: white;
    transition: all .5s;
}
#footer a:hover {
    transition: all .5s;
    color: #ddd;
    color: rgba(221, 221, 221, 0.51);
}
#footer .social {
    padding-top: 25px;
}
#footer .social li {
    padding: 0 10px;
}
#footer p {
    font-size: 16px;
    font-weight: 600;
    color: white;
}
/*
Footer Media Queries
============================*/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #footer {
        font-size: 18px;
    }
    #footer p {
        font-size: 18px;
    }
    
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #footer {
        font-size: 20px;
    }
    #footer p {
        font-size: 20px;
    }
}
/*
Back to To
============================*/
.backtotop {
    /*    color: #FFF700;  text/arrow color  */
    color: #B92B27; 
    display: none;
    z-index: 999;
    /* float in bottom right corner */
    /* 20 pixels from edge */
    position: fixed;
    right: 40px;
    bottom: 40px;
}
a.backtotop {
    font-weight: 600;
    font-size: 50px;
    padding-left: 2px;
    padding-top: 4px;    
}
a.backtotop:hover {
    /*    color: #FFF700;*/
    color: #B92B27;
}
a.backtotop .fa:before {
    font-weight: 600;
    font-size: 48px;
    speak: none;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: -4px;
}
