/*
Table of Content -
=========================
00 - General Css
01 - Section Wrap
02 - Intro Section
03 - About Section
04 - Our Section
05 - Stats
06 - Testimonial
07 - Clients
08 - Contact Section
09 - Footer
10 - Back to Top

11 - CTA Section
12 - Custom Button
=========================*/

/*
00 - General Css
=========================*/
body {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    /*
    color: #f6f6f7;
    background-color: #101019;
    */
    color: #292929;
    font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 { font-size: 2.4em; line-height: 58px; }
h2 { font-size: 1.9em; line-height: 46px; }
h3 { font-size: 1.2em; line-height: 30px; }
h4 { font-size: 1em; font-weight: bold;}
h5 { font-size: 0.8em; line-height: 24px; }
h6 { font-size: 0.7em; line-height: 20px; }
p { font-size: 1em; line-height: 28px; }

hr {
    border: 0;
    height: 3px;
    width: 100px;
    background: #FABB05;
    margin: 22px 0 60px;
}
hr .center {
    text-align: center;
    border: 0;
    height: 3px;
    width: 100px;
    background: #FABB05;
}

.ct-biggest { font-size: 2.4em; }
.ct-big { font-size: 1.9em; }
.ct-semibig { font-size: 1.4em; }
.ct-default { font-size: 1em; }
.ct-small { font-size: 0.8em; }
.ct-smallest { font-size: 0.7em; }

.wt-400 { font-weight: 400; }
.wt-600 { font-weight: 600; }
.wt-bold { font-weight: bold; }

a { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:visited { text-decoration: none; }

/*
03 - NAVBAR
========================*/

.navbar {
    padding: 0 50px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;

    padding-top: 25px;
    padding-bottom: 25px;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    color: #333;
    -webkit-transition: .3s all;
    transition: .3s all;
}
.navbar a {
    color: #fff !important;
}
.navbar button {
    color: inherit !important;
}
.navbar.compressed {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #6dcc7c;
    color: #6dcc7c;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}
.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle span:nth-child(3) {
    opacity: 0;
}
.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed span:nth-child(2), .navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}
.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}



/*
01 - Section Wrap
========================*/
.aboutwrap, .featurewrap, .contactwrap, .testimonialwrap, .clientswrap, .statswrap, .footerwrap { margin: 0 auto; max-width: 90%; }
/*
01 - Intro Section
========================*/
#intro {
    height: 100vh;
/*    background: url(../img/libraray.jpg) center center no-repeat;*/
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}
#intro .introtxt {
    padding-top: 200px;
    text-align: center;
}
#intro .introtxt h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 4.4em; 
    line-height: 100px;
    font-style: italic;
    font-weight: 100;
    color: #FFF700;
}
#intro .ct-quote {
    display: none;
}
#intro .introtxt p {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #f9f9f9;
}

/*
02 - About Section
========================*/
#about {
    padding: 80px 0;
    border-top: 6px solid #ddd;
    background-color: #f4f7f8;
}
#about p {
    font-size: 0.9em;
    font-weight: 400;
    margin-left: 50px;
    margin-bottom: 10px;
}
#about strong {
    color: #5fcf80;
    font-size: 1.2em;
}

/*
03 - Features Section
========================*/
#features {
    padding: 50px 0;
}
#features .block {
    margin-bottom: 50px;
    padding: 0 13px;
}
#features img {
    width: 50px;
    margin-bottom: 10px;
}
#features h3 {
    color: #292929;
    font-size: 1em;
    margin-top: 0px;
    font-weight: 700;
}
#features p {
    font-size: 0.8em;
    line-height: 24px;
    color: #a0a0a0;
    font-weight: 400;
}

/*
03 - Stats Section
========================*/
#stats {
    padding: 30px 0;
    background: #f4f7f8;
}
#stats .statblock {
    text-align: center;
    display: block;
    padding: 10px;
}
#stats .statno {
    color: #5fcf80;
    font-weight: bold;
    font-size: 4em;
    line-height: normal;
}
#stats .statblock p {
    color: #3f8abf;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1em;
    line-height: 28px;
}

/*
03 - Testimonial Section
========================*/
#testimonial {
    padding: 50px 0;
    color: #4ECDC4;
    background: #111;
}
#testimonial .quote p::before{
    color: #FFF700;
    font-size: 6em;
    font-style: italic;
    content: '"';
}
#testimonial small {
    color: #c5c5c5;
    font-size: 15px;
    margin: 12px 0;
}
#testimonial .quote {
    padding: 60px;
    margin-top: 20px;
    position: relative;
    background: none;
}
#testimonial .carousel-control.left {
    background-image: none;
    background-repeat: no-repeat;
}
#testimonial .carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
    right: 0;
    left: auto;
}
#testimonial .carousel-control {
    position: absolute;
    top: 45%;
    font-size: 20px;
    color: white;
    width: 0%;
    opacity: inherit;
    text-align: center;
    text-shadow: none;
}

/*
03 - Clients Section
========================*/
#clients {
    background-color: #f4f7f8;
}
#clients p {
    color: #555;
}
#clients img {
    cursor: pointer;
    filter: opacity(0.7);
    display: inline-block;
    max-width: 200px;
    margin-right: 20px;
}
#clients img:hover {
    filter: opacity(1);
}

/*
03 - Contact Section
========================*/
#contact {
    padding: 80px 0;
    background-color: #f4f7f8;
}
#contact input, textarea {
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    min-width: 500px;
    max-width: 800px;
    background-color: #ffffff;
    margin: 0 0 24px 0;
    padding: 8px 20px 8px 10px;
    border: 2px solid #c9c9c9;
}
#contact textarea {
    resize: none;
}
#contact hr {
    background: #5fcf80;
}
#contact .ct-btn {
    background-color: #5fcf80;
    border: 2px solid #5fcf80;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    margin: 0px 10px 10px 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
#contact .ct-btn:hover {
    color: #f7f7f7;
    opacity: 0.7;
}

/*
03 - Footer Section
========================*/
#footer {
    border-top: 6px solid #ddd;
    padding: 40px 0;
    position: relative;
    background: #111;
}
#footer a {
    color: #393c3e;
    transition: all .5s;
}
#footer a:hover {
    transition: all .5s;
    color: #ddd;
    color: rgba(221, 221, 221, 0.51);
}
#footer .social {
    padding-top: 25px;
}
#footer .social li {
    padding: 0 10px;
}
#footer p {
    font-size: 18px;
    font-weight: 600;
    color: #393c3e;
}


/*
03 - Backtotop Section
========================*/
.backtotop {
    color: #FFF700; /* text/arrow color */ 
    display: none;
    z-index: 999;
    /* float in bottom right corner */
    /* 20 pixels from edge */
    position: fixed;
    right: 40px;
    bottom: 40px;
}
a.backtotop {
    font-weight: 600;
    font-size: 50px;
    padding-left: 2px;
    padding-top: 4px;    
}
a.backtotop:hover {
    color: #FFF700;
}
a.backtotop .fa:before {
    font-weight: 600;
    font-size: 48px;
    speak: none;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: -4px;
}




video {
    width: 100% !important;
    height: auto !important;
    z-index: -100; 
}
.video-holder {
    position: absolute;
    width: 100%;
    margin-bottom:100%;   
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -100;  
}























