/*
Table of Content -
=========================
00 - General Css
01 - Section Wrap
02 - Intro Section
09 - Footer
10 - Back to Top

11 - CTA Section
12 - Custom Button
=========================*/

/*
00 - General Css
=========================*/
body {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    /*
    color: #f6f6f7;
    background-color: #101019;
    */
    color: #292929;
    font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 { font-size: 2.4em; line-height: 58px; }
h2 { font-size: 1.9em; line-height: 46px; }
h3 { font-size: 1.2em; line-height: 30px; }
h4 { font-size: 1em; font-weight: bold;}
h5 { font-size: 0.8em; line-height: 24px; }
h6 { font-size: 0.7em; line-height: 20px; }
p { font-size: 1em; line-height: 28px; }

hr {
    border: 0;
    height: 3px;
    width: 100px;
    background: #FABB05;
    margin: 22px 0 60px;
}
hr .center {
    text-align: center;
    border: 0;
    height: 3px;
    width: 100px;
    background: #FABB05;
}

.ct-biggest { font-size: 2.4em; }
.ct-big { font-size: 1.9em; }
.ct-semibig { font-size: 1.4em; }
.ct-default { font-size: 1em; }
.ct-small { font-size: 0.8em; }
.ct-smallest { font-size: 0.7em; }

.wt-400 { font-weight: 400; }
.wt-600 { font-weight: 600; }
.wt-bold { font-weight: bold; }

a { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:visited { text-decoration: none; }
ul, li {
    margin:0;
    padding:0;
}
/*
01 - Section Wrap
========================*/
.footerwrap { margin: 0 auto; max-width: 90%; }

/*
03 - Team Intro Section
========================*/
#teamintro {
    background-color: cyan;
    padding: 40px 0;
    color: #FFF;
}
#teamintro .content h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 16px;
}
#teamintro .content p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 16px;
}
/*
Linkbar
========================*/
#breadcrumbs {
    text-align: center;
    background-color: #F5F5F5;
    padding: 15px 0;
}
#breadcrumbs a {
    font-size: 0.7em;
    font-weight: bold;
    color: #16171D;
    line-height: 26px;
}
#breadcrumbs a:hover {
    color: #5fcf80;
}
#breadcrumbs a.disabled {
    color: #5fcf80;
    pointer-events: none;
}

/*
Linkbar
========================*/
#linkbar {
    background-color: #f9f9f9;
    padding: 10px 0;
    border-bottom: 6px solid #eee;
}
#linkbar li {
    padding: 0 10px;
}
#linkbar .active {
    color: skyblue;
}
#linkbar a {
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
}
#linkbar .fa {
    padding-right: 10px;
}
/*
Team Section
========================*/
#team {
    margin: 50px auto;
}
#team .card {
    padding: 0 15px;
    text-align: left;
}
#team .card a {
    transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out;
    border-radius: 5px;
    background-color: #e6eef1;
    display: block;
    height: 100px;
    margin-bottom: 40px;
    padding: 28px 20px;
    position: relative;
}
#team .card a:hover {
    background-color: #f5f5f5;
}
#team .card h4 {
    display: block;
    color: #384047;
    font-style: normal;
    margin: 0;
}
#team .card span {
    margin-top: 5px;
    color: #717f86;
    display: block;
    font-size: 14px;
}
#team .card img {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 64px;
    height: 64px;
    border-radius: 128px;
    margin-top: -32px;
}

/*
03 - Footer Section
========================*/
#footer {
    border-top: 6px solid #ddd;
    padding: 40px 0;
    position: relative;
    background: #111;
}
#footer a {
    color: #393c3e;
    transition: all .5s;
}
#footer a:hover {
    transition: all .5s;
    color: #ddd;
    color: rgba(221, 221, 221, 0.51);
}
#footer .social {
    padding-top: 25px;
}
#footer .social li {
    padding: 0 10px;
}
#footer p {
    font-size: 18px;
    font-weight: 600;
    color: #393c3e;
}


/*
03 - Backtotop Section
========================*/
.backtotop {
    color: #FFF700; /* text/arrow color */ 
    display: none;
    z-index: 999;
    /* float in bottom right corner */
    /* 20 pixels from edge */
    position: fixed;
    right: 40px;
    bottom: 40px;
}
a.backtotop {
    font-weight: 600;
    font-size: 50px;
    padding-left: 2px;
    padding-top: 4px;    
}
a.backtotop:hover {
    color: #FFF700;
}
a.backtotop .fa:before {
    font-weight: 600;
    font-size: 48px;
    speak: none;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: -4px;
}